{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": true
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "transform-class-properties"
    ]
}